{% extends 'rentmanager/base.html' %}


{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Houses</h1>
    <div class="row">
        <div class="col-md-10">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Number of Houses: {{houses.count}}</li>
            </ol>
        </div>
        <div class="col-md-2 mt-1">
            <a href="{% url 'createhouse' %}" class="btn btn-success float-right">New House</a>
        </div>
    </div>
    
    {% for house in houses %}

    <div class="card">
        <div class="card-header">
            House #{{house.id}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{house.name}}</h5>
            <p class="card-text">{{house.address_line_1}},<br/> {% if house.address_line_2 %} {{house.address_line_2}},<br/> {% endif %} {{house.city}}, {{house.country}}
            </p>
            <a href="{% url 'viewhouse' house.id %}" class="btn btn-primary float-right">View</a>
        </div>
    </div>
    <br/>
    {% endfor %}

</div>

{% endblock %}